appdirs==1.4.3
arrow==0.17.0
asgiref==3.2.7
astroid==2.4.2
autopep8==1.4.4
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2020.4.5.2
chardet==3.0.4
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
dj-database-url==0.5.0
Django==2.2
django-heroku==0.3.1
filelock==3.0.12
gunicorn==20.0.4
html5lib==1.0.1
idna==2.9
lazy-object-proxy==1.4.3
lxml==4.5.0
mechanize==0.4.5
numpy==1.18.2
pandas==1.0.3
Pillow==8.2.0
pipenv==2021.5.29
psycopg2==2.8.5
pycodestyle==2.5.0
python-dateutil==2.8.1
python-dotenv==0.21.0
pytz==2018.5
requests==2.23.0
Rx==3.1.1
selenium==3.141.0
six==1.15.0
soupsieve==2.0
sqlparse==0.2.4
tabula-py==2.1.0
twitch-python==0.0.18
urllib3==1.25.8
virtualenv==20.0.18
virtualenv-clone==0.5.4
virtualenvwrapper-win==1.2.6
webencodings==0.5.1
whitenoise==5.0.1
wrapt==1.12.1
